<div class="container">
  <div class="media">
    <div class="media-body" [class.Done]="todo.isDone">
      <h3 class="mt-0">{{todo.title}}</h3>
      <p>{{todo.description}}</p>     
      <h5>Limite : {{todo.limit | date: 'dd/M/y'}}</h5>  
    </div>
    <div class="myCheckbox">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" [id]="todo.index" value="option1" [(ngModel)]="todo.isDone" (click)="log()">
          <label class="custom-control-label" [for]="todo.index">Done</label>
      </div> 
    </div>
  </div>
</div>