$jogoOff : #563d7c;
$squareColor: rgb(226, 217, 217);


.desativado{
    opacity: 0.1;
    filter: alpha(opacity=10); /* For IE8 and earlier */
}

@mixin area($areaName) {
    grid-area: $areaName;
}

.myGame{
    background-color: $jogoOff;
    display: grid;
    grid-template-columns: 32% 2% 32% 2% 32%;
    grid-template-rows: 32% 2% 32% 2% 32%;
    min-width: 300px;
    min-height: 300px;
    width: 45vw;
    height: 42vw; 
    grid-template-areas: 
    "ax . bx . cx"
    ". . . . ."
    "ay . by . cy"
    ". . . . ."
    "az . bz . cz"
}

.mySquare{
    display: flex;
    background-color: $squareColor;
    width: 100%;
    height: 100%;
    align-items: center;
    font-size: 10vmax;    
    justify-content: center; 
    
}

.times {
    color: rgba(238, 148, 13, 0.904);
}

.ban {
    color: rgb(98, 0, 255);
}

fa{ 
    display: flex;
    pointer-events: none;
    text-shadow: 2px 2px 7px black;
}

.winningSquare{
    background-color: rgba(150, 88, 231, 0.568);
}

.myDisponivel:hover{
    transition-property: all ;
    transition-duration: .2s ;
    opacity: 0.5;
}

.ax{
    @include area(ax);
}
.bx{
    @include area(bx);
}
.cx{
    @include area(cx);
}
.ay{
    @include area(ay);
}
.by{
    @include area(by);
}
.cy{
    @include area(cy);
}
.az{
    @include area(az);
}
.bz{
    @include area(bz);
}
.cz{
    @include area(cz);
}

