

.myBar{
    padding: 10px;
    display: flex;
    background-color: cornflowerblue;
    color: white;
}


.noTasks{
    text-align: center;
    color: gray;
    padding: 2rem;
}

.container{
    padding: 0;
}

.myList{
    padding: 10px;
}