ul{
    display: flex;
    padding: 10px;
    background-color : cornflowerblue;
    color: white;
    margin-bottom: 40px;
    justify-content: space-between;
}

.userstuff{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
button{
    margin:5px;
}

p{
    margin:0;
}

