<div class="container border myTextShadow boxShadow">
  <div class="myBar">
    <h2>
      Atualizar Lista de Tarefas
    </h2>
  </div>
  <div class="myButtons">
    <form class="box" (ngSubmit)="refresh()">
      <button [disabled]="!todosLength" [class.disabled]="!todosLength" type="submit" class="btn btn-primary btn-block myTextShadow boxShadow normal">Atualizar</button>
    </form>
    <form class="box" (ngSubmit)="eraseAll()">
      <button [disabled]="!todosLength" [class.disabled]="!todosLength" type="submit" class="btn btn-primary btn-block myTextShadow boxShadow danger">Zerar Lista</button>
    </form>
  </div>
  
  
</div>