
<div class="container border boxShadow">

    <div class="myBar myTextShadow">
        <h2>
          Adicionar Tarefa
        </h2>
      </div>
    <form [formGroup]="addTodoForm" class="box" (submit)="addTodo()">
        <div class="form-group">
          <label for="titulo">Titulo</label>
          <input type="text" maxlength="40" formControlName="title"  name="title" class="form-control" id="titulo" aria-describedby="emailHelp" placeholder="Titulo da tarefa">
        </div>
        <small *ngIf="addTodoForm.get('title').touched && addTodoForm.get('title').errors?.required" class="text-danger d-block mt-2">
          Este campo é obrigatório
        </small>
        <div class="form-group">
          <label for="desc">Descrição</label>
          <textarea formControlName="desc" maxlength="500" class="form-control"name="description" id="desc" cols="30" rows="5" placeholder="Descrição da tarefa"></textarea>
        </div>
        <small *ngIf="addTodoForm.get('desc').touched && addTodoForm.get('desc').errors?.required" class="text-danger d-block mt-2">
          Este campo é obrigatório
        </small>
        <div class="form-group mb-3">
            <label for="date">Data</label>
            <input formControlName="date" type="date" name="date"class="form-control" id="date" placeholder="Password">
        </div>
        <button
          [class.disabled]="addTodoForm.invalid"
          [disabled]="addTodoForm.invalid" 
          type="submit"
          class="btn btn-primary btn-block myTextShadow boxShadow">Adicionar</button>
    </form>
</div>


